
# For PipeTabButton
public net.minecraft.client.gui.screen.Screen field_230710_m_ # buttons
public net.minecraft.client.gui.screen.inventory.CreativeScreen field_147067_x # scrollOffs

# BCBaseBlockStateGenerator
public net.minecraft.util.Direction field_176754_o # BY_2D_DATA

# BCFluid
protected net.minecraft.fluid.FlowingFluid func_211761_a(Lnet/minecraft/world/IBlockReader;Lnet/minecraft/util/math/BlockPos;Lnet/minecraft/block/BlockState;Lnet/minecraft/fluid/Fluid;)Z # canHoldFluid
protected net.minecraft.fluid.FlowingFluid func_207936_a(Lnet/minecraft/world/IWorldReader;Lnet/minecraft/util/math/BlockPos;)I # sourceNeighborCount
protected net.minecraft.fluid.FlowingFluid func_207937_a(Lnet/minecraft/world/IWorld;Lnet/minecraft/util/math/BlockPos;Lnet/minecraft/fluid/FluidState;Lnet/minecraft/block/BlockState;)V # spreadToSides
protected net.minecraft.fluid.FlowingFluid func_211758_g(Lnet/minecraft/fluid/FluidState;)Z # isSourceBlockOfThisType
protected net.minecraft.fluid.FlowingFluid func_212189_g(Lnet/minecraft/fluid/FluidState;)Z # affectsFlow
protected net.minecraft.fluid.FlowingFluid func_212752_a(Lnet/minecraft/util/math/BlockPos;Lnet/minecraft/util/math/BlockPos;)S # getCacheKey
protected net.minecraft.fluid.FlowingFluid func_211760_a(Lnet/minecraft/world/IBlockReader;Lnet/minecraft/fluid/Fluid;Lnet/minecraft/util/math/BlockPos;Lnet/minecraft/block/BlockState;Lnet/minecraft/util/Direction;Lnet/minecraft/util/math/BlockPos;Lnet/minecraft/block/BlockState;Lnet/minecraft/fluid/FluidState;)Z # canPassThrough
protected net.minecraft.fluid.FlowingFluid func_212751_a(Lnet/minecraft/util/Direction;Lnet/minecraft/world/IBlockReader;Lnet/minecraft/util/math/BlockPos;Lnet/minecraft/block/BlockState;Lnet/minecraft/util/math/BlockPos;Lnet/minecraft/block/BlockState;)Z # canPassThroughWall
protected net.minecraft.fluid.FlowingFluid field_215669_f # shapes
protected net.minecraft.fluid.FlowingFluid func_215666_c(Lnet/minecraft/fluid/FluidState;Lnet/minecraft/world/IBlockReader;Lnet/minecraft/util/math/BlockPos;)Z # hasSameAbove

# Oil Structure
public net.minecraft.world.gen.feature.structure.StructureFeatures func_244162_a(Ljava/lang/String;Lnet/minecraft/world/gen/feature/StructureFeature;)Lnet/minecraft/world/gen/feature/StructureFeature; # register
public net.minecraft.world.gen.feature.structure.Structure field_236385_u_ # STEP

# Particle
public net.minecraft.client.particle.BreakingParticle <init>(Lnet/minecraft/client/world/ClientWorld;DDDDDDLnet/minecraft/item/ItemStack;)V # <init>
public net.minecraft.client.particle.SpriteTexturedParticle func_217567_a(Lnet/minecraft/client/renderer/texture/TextureAtlasSprite;)V # setSprite

# StripesHandlerDispenser
public net.minecraft.block.DispenserBlock field_149943_a # DISPENSER_REGISTRY

# FakeChunk
protected net.minecraft.world.chunk.Chunk field_150816_i # blockEntities

# GuiRecipeBookPhantom
public-f net.minecraft.client.gui.recipebook.RecipeBookGui field_193022_s # recipeBookPage
public net.minecraft.client.gui.recipebook.RecipeBookGui field_191903_n # xOffset
public net.minecraft.client.gui.recipebook.RecipeBookGui field_193965_u # stackedContents
public net.minecraft.client.gui.recipebook.RecipeBookGui field_199738_u # ignoreTextInput

# FakeWorld
public net.minecraft.world.DimensionType <init>(Ljava/util/OptionalLong;ZZZZDZZZZILnet/minecraft/util/ResourceLocation;Lnet/minecraft/util/ResourceLocation;F)V

# CachedChunk
public net.minecraft.world.chunk.Chunk field_76636_d # loaded

# Recipe
public net.minecraft.item.crafting.RecipeManager func_215366_a(Lnet/minecraft/item/crafting/IRecipeType;)Ljava/util/Map; # byType

# For GuiElementSlotMover
public-f net.minecraft.inventory.container.Slot field_75223_e # x
public-f net.minecraft.inventory.container.Slot field_75221_f # y

# For GuiRecipeBookPhantom
public net.minecraft.client.gui.recipebook.RecipeBookGui field_193022_s # recipeBookPage

# ProfilerUtil
public net.minecraft.profiler.FilledProfileResult field_230093_e_ # entries
public net.minecraft.profiler.FilledProfileResult field_230090_b_ # EMPTY
public net.minecraft.profiler.FilledProfileResult func_230098_a_(Ljava/lang/StringBuilder;I)Ljava/lang/StringBuilder; # indentLine

# FontRenderer
public net.minecraft.client.Minecraft field_211501_aD # fontManager
public net.minecraft.client.gui.fonts.FontResourceManager field_211511_c # textureManager

# DynamicTextureBC
public net.minecraft.client.renderer.RenderState field_228491_A_ # NO_CULL
public net.minecraft.client.renderer.RenderState field_228517_i_ # DEFAULT_ALPHA
public net.minecraft.client.renderer.RenderState field_228510_b_ # NO_TRANSPARENCY
public net.minecraft.client.renderer.RenderState field_228528_t_ # LIGHTMAP

# GuiZonePlanner
public net.minecraft.client.renderer.RenderState field_228515_g_ # TRANSLUCENT_TRANSPARENCY
public net.minecraft.client.renderer.RenderState field_228492_B_ # NO_DEPTH_TEST
public com.mojang.blaze3d.platform.GlStateManager$Viewport field_199289_b # x
public com.mojang.blaze3d.platform.GlStateManager$Viewport field_199290_c # y
public com.mojang.blaze3d.platform.GlStateManager$Viewport field_199291_d # width
public com.mojang.blaze3d.platform.GlStateManager$Viewport field_199292_e # height

# LaserCompiledList
public net.minecraft.client.renderer.RenderState field_228522_n_ # BLOCK_SHEET

# MessageDebugRequest MessageUpdateEntity
public net.minecraft.client.world.ClientWorld field_217429_b # entitiesById

# RenderRobot
public net.minecraft.client.renderer.RenderState field_228530_v_ # OVERLAY

# RobotRegistry
public net.minecraft.world.server.ChunkManager field_219272_z # entityMap
public net.minecraft.world.server.ChunkManager$EntityTracker
public net.minecraft.world.server.ChunkManager$EntityTracker field_219403_c # entity

# AIRobotSearchEntity AIRobotFetchItem
public net.minecraft.world.server.ServerWorld field_175741_N # entitiesByUuid

# BoardRobotShovelman
public net.minecraft.item.ShovelItem field_150916_c # DIGGABLES

# MapManager
public net.minecraft.world.server.ChunkManager field_219252_f # visibleChunkMap
