# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

src.zip
src.rar
saves
mcmodsrepo
src/main/resources/.cache/
src/generated/resources/.cache/
