[submodule "BuildCraftAPI"]
	path = BuildCraftAPI
	url = https://github.com/CalenXwX/BuildCraftAPI.git
	branch = 8.0.x-1.16.5
[submodule "BuildCraft-Localization"]
	path = BuildCraft-Localization
	url = https://github.com/CalenXwX/BuildCraft-Localization.git
[submodule "BuildCraftGuide"]
	path = BuildCraftGuide
	url = https://github.com/CalenXwX/BuildCraftGuide.git
