[submodule "BuildCraftAPI"]
	path = BuildCraftAPI
	url = ../BuildCraftAPI.git
[submodule "BuildCraft-Localization"]
	path = BuildCraft-Localization
	url = https://github.com/BuildCraft/BuildCraft-Localization.git
