#eclipse
.project
.classpath
.settings/
.metadata
*.launch
org.*
bin

#idea
*.iml
*.ipr
*.iws
.idea
out

#gradle
build
.gradle
modules
libs

#runtime
run
run_server

#mac
.DS_Store

#Custom code to inject the the dev environment
custom

#licnse_checker
license_checker/local/**
license_checker/node_modules

# For some annoying reason the tests creates a log file in "/logs/latest.txt"
logs
