# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
eclipse

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
modules
libs

#runtime
run
run_server

#mac
.DS_Store

#Custom code to inject the the dev environment
custom
test-results

#licnse_checker
# Not in git because it contains names + emails.
license_checker/agreed.txt
license_checker/unused_code.txt
license_checker/out/**

# Files from Forge MDK
forge*changelog.txt

# For some annoying reason the tests creates a log file in "/logs/latest.txt"
logs

# datagen cache
buildcraft_resources_generated/.cache
